@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* Global Styles */
:root {
  --primary-color: #86f0fc;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Varela Round" "Roboto", sans-serif;
  /* font-size: 1.1rem; */
  /* padding-top: 20px; */
  position: relative;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

a {
  color: var(--primary-dark);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.round-image {
  border-radius: 50%;
}
/* img {
  width: 100%;
} */

/* Utilities */
.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

/* grow card */
.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.1s ease-out;
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

/* Cards */
.Card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 480px) {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  .break-point {
    display: none;
  }
}
